@media (prefers-color-scheme: dark) {

  /* Colors */
  .dark--black-90 { color: rgba( 0, 0, 0, .9 ); }
  .dark--black-80 { color: rgba( 0, 0, 0, .8 ); }
  .dark--black-70 { color: rgba( 0, 0, 0, .7 ); }
  .dark--black-60 { color: rgba( 0, 0, 0, .6 ); }
  .dark--black-50 { color: rgba( 0, 0, 0, .5 ); }
  .dark--black-40 { color: rgba( 0, 0, 0, .4 ); }
  .dark--black-30 { color: rgba( 0, 0, 0, .3 ); }
  .dark--black-20 { color: rgba( 0, 0, 0, .2 ); }
  .dark--black-10 { color: rgba( 0, 0, 0, .1 ); }
  .dark--black-05 { color: rgba( 0, 0, 0, .05 ); }
  .dark--white-90 { color: rgba( 255, 255, 255, .9 ); }
  .dark--white-80 { color: rgba( 255, 255, 255, .8 ); }
  .dark--white-70 { color: rgba( 255, 255, 255, .7 ); }
  .dark--white-60 { color: rgba( 255, 255, 255, .6 ); }
  .dark--white-50 { color: rgba( 255, 255, 255, .5 ); }
  .dark--white-40 { color: rgba( 255, 255, 255, .4 ); }
  .dark--white-30 { color: rgba( 255, 255, 255, .3 ); }
  .dark--white-20 { color: rgba( 255, 255, 255, .2 ); }
  .dark--white-10 { color: rgba( 255, 255, 255, .1 ); }
  .dark--black { color: #000; }
  .dark--near-black { color: #111; }
  .dark--dark-gray { color: #333; }
  .dark--mid-gray { color: #555; }
  .dark--gray { color: #777; }
  .dark--silver { color: #999; }
  .dark--light-silver { color: #aaa; }
  .dark--moon-gray { color: #ccc; }
  .dark--light-gray { color: #eee; }
  .dark--near-white { color: #f4f4f4; }
  .dark--white { color: #fff; }
  .dark--dark-red { color: #e7040f; }
  .dark--red { color: #ff4136; }
  .dark--light-red { color: #ff725c; }
  .dark--orange { color: #ff6300; }
  .dark--gold { color: #ffb700; }
  .dark--yellow { color: #ffd700; }
  .dark--light-yellow { color: #fbf1a9; }
  .dark--purple { color: #5e2ca5; }
  .dark--light-purple { color: #a463f2; }
  .dark--dark-pink { color: #d5008f; }
  .dark--hot-pink { color: #ff41b4; }
  .dark--pink { color: #ff80cc; }
  .dark--light-pink { color: #ffa3d7; }
  .dark--dark-green { color: #137752; }
  .dark--green { color: #19a974; }
  .dark--light-green { color: #9eebcf; }
  .dark--navy { color: #001b44; }
  .dark--dark-blue { color: #00449e; }
  .dark--blue { color: #357edd; }
  .dark--light-blue { color: #96ccff; }
  .dark--lightest-blue { color: #cdecff; }
  .dark--washed-blue { color: #f6fffe; }
  .dark--washed-green { color: #e8fdf5; }
  .dark--washed-yellow { color: #fffceb; }
  .dark--washed-red { color: #ffdfdf; }
  .dark--color-inherit { color: inherit; }
  .dark--bg-black-90 { background-color: rgba( 0, 0, 0, .9 ); }
  .dark--bg-black-80 { background-color: rgba( 0, 0, 0, .8 ); }
  .dark--bg-black-70 { background-color: rgba( 0, 0, 0, .7 ); }
  .dark--bg-black-60 { background-color: rgba( 0, 0, 0, .6 ); }
  .dark--bg-black-50 { background-color: rgba( 0, 0, 0, .5 ); }
  .dark--bg-black-40 { background-color: rgba( 0, 0, 0, .4 ); }
  .dark--bg-black-30 { background-color: rgba( 0, 0, 0, .3 ); }
  .dark--bg-black-20 { background-color: rgba( 0, 0, 0, .2 ); }
  .dark--bg-black-10 { background-color: rgba( 0, 0, 0, .1 ); }
  .dark--bg-black-05 { background-color: rgba( 0, 0, 0, .05 ); }
  .dark--bg-white-90 { background-color: rgba( 255, 255, 255, .9 ); }
  .dark--bg-white-80 { background-color: rgba( 255, 255, 255, .8 ); }
  .dark--bg-white-70 { background-color: rgba( 255, 255, 255, .7 ); }
  .dark--bg-white-60 { background-color: rgba( 255, 255, 255, .6 ); }
  .dark--bg-white-50 { background-color: rgba( 255, 255, 255, .5 ); }
  .dark--bg-white-40 { background-color: rgba( 255, 255, 255, .4 ); }
  .dark--bg-white-30 { background-color: rgba( 255, 255, 255, .3 ); }
  .dark--bg-white-20 { background-color: rgba( 255, 255, 255, .2 ); }
  .dark--bg-white-10 { background-color: rgba( 255, 255, 255, .1 ); }

   /* Background colors */
  .dark--bg-black { background-color: #000; }
  .dark--bg-near-black { background-color: #111; }
  .dark--bg-dark-gray { background-color: #333; }
  .dark--bg-mid-gray { background-color: #555; }
  .dark--bg-gray { background-color: #777; }
  .dark--bg-silver { background-color: #999; }
  .dark--bg-light-silver { background-color: #aaa; }
  .dark--bg-moon-gray { background-color: #ccc; }
  .dark--bg-light-gray { background-color: #eee; }
  .dark--bg-near-white { background-color: #f4f4f4; }
  .dark--bg-white { background-color: #fff; }
  .dark--bg-transparent { background-color: transparent; }
  .dark--bg-dark-red { background-color: #e7040f; }
  .dark--bg-red { background-color: #ff4136; }
  .dark--bg-light-red { background-color: #ff725c; }
  .dark--bg-orange { background-color: #ff6300; }
  .dark--bg-gold { background-color: #ffb700; }
  .dark--bg-yellow { background-color: #ffd700; }
  .dark--bg-light-yellow { background-color: #fbf1a9; }
  .dark--bg-purple { background-color: #5e2ca5; }
  .dark--bg-light-purple { background-color: #a463f2; }
  .dark--bg-dark-pink { background-color: #d5008f; }
  .dark--bg-hot-pink { background-color: #ff41b4; }
  .dark--bg-pink { background-color: #ff80cc; }
  .dark--bg-light-pink { background-color: #ffa3d7; }
  .dark--bg-dark-green { background-color: #137752; }
  .dark--bg-green { background-color: #19a974; }
  .dark--bg-light-green { background-color: #9eebcf; }
  .dark--bg-navy { background-color: #001b44; }
  .dark--bg-dark-blue { background-color: #00449e; }
  .dark--bg-blue { background-color: #357edd; }
  .dark--bg-light-blue { background-color: #96ccff; }
  .dark--bg-lightest-blue { background-color: #cdecff; }
  .dark--bg-washed-blue { background-color: #f6fffe; }
  .dark--bg-washed-green { background-color: #e8fdf5; }
  .dark--bg-washed-yellow { background-color: #fffceb; }
  .dark--bg-washed-red { background-color: #ffdfdf; }
  .dark--bg-inherit { background-color: inherit; }

  /* Border colors */
  .dark--b--black { border-color: #000; }
  .dark--b--near-black { border-color: #111; }
  .dark--b--dark-gray { border-color: #333; }
  .dark--b--mid-gray { border-color: #555; }
  .dark--b--gray { border-color: #777; }
  .dark--b--silver { border-color: #999; }
  .dark--b--light-silver { border-color: #aaa; }
  .dark--b--light-gray { border-color: #eee; }
  .dark--b--near-white { border-color: #f4f4f4; }
  .dark--b--white { border-color: #fff; }
  .dark--b--white-90 { border-color: rgba( 255, 255, 255, .9 ); }
  .dark--b--white-80 { border-color: rgba( 255, 255, 255, .8 ); }
  .dark--b--white-70 { border-color: rgba( 255, 255, 255, .7 ); }
  .dark--b--white-60 { border-color: rgba( 255, 255, 255, .6 ); }
  .dark--b--white-50 { border-color: rgba( 255, 255, 255, .5 ); }
  .dark--b--white-40 { border-color: rgba( 255, 255, 255, .4 ); }
  .dark--b--white-30 { border-color: rgba( 255, 255, 255, .3 ); }
  .dark--b--white-20 { border-color: rgba( 255, 255, 255, .2 ); }
  .dark--b--white-10 { border-color: rgba( 255, 255, 255, .1 ); }
  .dark--b--white-05 { border-color: rgba( 255, 255, 255, .05 ); }
  .dark--b--white-025 { border-color: rgba( 255, 255, 255, .025 ); }
  .dark--b--white-0125 { border-color: rgba( 255, 255, 255, .0125 ); }
  .dark--b--black-90 { border-color: rgba( 0, 0, 0, .9 ); }
  .dark--b--black-80 { border-color: rgba( 0, 0, 0, .8 ); }
  .dark--b--black-70 { border-color: rgba( 0, 0, 0, .7 ); }
  .dark--b--black-60 { border-color: rgba( 0, 0, 0, .6 ); }
  .dark--b--black-50 { border-color: rgba( 0, 0, 0, .5 ); }
  .dark--b--black-40 { border-color: rgba( 0, 0, 0, .4 ); }
  .dark--b--black-30 { border-color: rgba( 0, 0, 0, .3 ); }
  .dark--b--black-20 { border-color: rgba( 0, 0, 0, .2 ); }
  .dark--b--black-10 { border-color: rgba( 0, 0, 0, .1 ); }
  .dark--b--black-05 { border-color: rgba( 0, 0, 0, .05 ); }
  .dark--b--black-025 { border-color: rgba( 0, 0, 0, .025 ); }
  .dark--b--black-0125 { border-color: rgba( 0, 0, 0, .0125 ); }
  .dark--b--dark-red { border-color: #e7040f; }
  .dark--b--red { border-color: #ff4136; }
  .dark--b--light-red { border-color: #ff725c; }
  .dark--b--orange { border-color: #ff6300; }
  .dark--b--gold { border-color: #ffb700; }
  .dark--b--yellow { border-color: #ffd700; }
  .dark--b--light-yellow { border-color: #fbf1a9; }
  .dark--b--purple { border-color: #5e2ca5; }
  .dark--b--light-purple { border-color: #a463f2; }
  .dark--b--dark-pink { border-color: #d5008f; }
  .dark--b--hot-pink { border-color: #ff41b4; }
  .dark--b--pink { border-color: #ff80cc; }
  .dark--b--light-pink { border-color: #ffa3d7; }
  .dark--b--dark-green { border-color: #137752; }
  .dark--b--green { border-color: #19a974; }
  .dark--b--light-green { border-color: #9eebcf; }
  .dark--b--navy { border-color: #001b44; }
  .dark--b--dark-blue { border-color: #00449e; }
  .dark--b--blue { border-color: #357edd; }
  .dark--b--light-blue { border-color: #96ccff; }
  .dark--b--lightest-blue { border-color: #cdecff; }
  .dark--b--washed-blue { border-color: #f6fffe; }
  .dark--b--washed-green { border-color: #e8fdf5; }
  .dark--b--washed-yellow { border-color: #fffceb; }
  .dark--b--washed-red { border-color: #ffdfdf; }
  .dark--b--transparent { border-color: transparent; }
}
