---
layout: default
title: Hello There!
---

<p class="f5 lh-copy">
I’m Michał Łęcicki (aka Maikhel), ruby software engineer from Visuality 👋 </br>
I believe self-improvement, responsibility and clean solutions are necessary to get things done: both in software development and real life.</br>
</br>
Feel free to check some of my posts below. There are also some
<a class="link dark-blue dark--gold dim" href="{{ site.gallery_page }}" data-turbo-frame="main_frame" data-turbo-action="advance" title="Photos">photos</a>
and more information
<a class="link dark-blue dark--gold dim" href="{{ site.about_page }}" data-turbo-frame="main_frame" data-turbo-action="advance" title="About me">about me</a>.
</br>
</p>

<div class="f4 b pv1 mt2"> Blog posts</div>
{% for post in paginator.posts %}
  <article class="bt b--black-30 dark--b--white-30">
    <a class="db pv4 ph3 ph0-l no-underline black dark--white-80 dim" href="{% if post.external_url %}{{ post.external_url }}{% else %}{{ post.url }}{% endif %}" data-turbo="false">
      <div class="flex flex-column flex-row-ns">
        <div class="pr3-ns mb4 mb0-ns w-100 w-40-ns">
          {% assign image_path = '/images' %}
          {% if post.min_image %}
            {% assign image_path = image_path | append: '/' | append: post.min_image %}
          {% else %}
            {% assign image_path = image_path | append: '/' | append: post.image %}
          {% endif %}
          {% assign image_path = image_path | prepend: site.base_url %}

          <img src="{{ image_path }}" class="db"  alt="Photo for specific blog post" data-turbo="false">
        </div>
        <div class="w-100 w-60-ns pl3-ns">
          <h1 class="f3 fw1 baskerville mt0 lh-title"> {{ post.title }} </h1>
          <p class="f6 f5-l lh-copy">
          {{ post.excerpt | strip_html }}
          </p>
          <p class="f6 lh-copy mv0"> Posted on {{ post.date | date_to_long_string }}</p>
        </div>
      </div>
    </a>
  </article>
{% endfor %}

<div class="pagination">
  <div class="flex items-center justify-center">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="f5 no-underline black dark--white bg-animate hover-bg-gray hover-white inline-flex items-center pa2 ph3 ba b--gray border-box">
          <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
            <title>chevronLeft icon</title>
            <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
          </svg>
        <span class="pl1">Previous</span>
      </a>
    {% endif %}

    <p class="f5 mh3"> Page {{ paginator.page }} out of {{ paginator.total_pages }} </p>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="f5 no-underline black dark--white bg-animate hover-bg-gray hover-white inline-flex items-center pa2 ph3 ba b--gray border-box">
        <span class="pr1">Next</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </a>
    {% endif %}
  </div>
</div>
