---
layout: default
title: Talks
---

<main class="stack-lg">

  <header class="stack">
    <h1>Talks</h1>

    <p>
      A selection of talks about Ruby, system design, ownership, and how teams
      build software together.
    </p>
  </header>

  <section class="stack-lg">


    {% assign talks = site.talks | sort: "order" %}
    {% for talk in talks %}
      {% include talk_preview.html talk=talk %}
    {% endfor %}


  </section>

  <footer class="stack">
    <p>
      Interested in inviting me to speak?
      <a href="mailto:your@email.com">Get in touch</a>.
    </p>
  </footer>

</main>
