.row.section
  .col.s12
    %h5.center Programming skills
    .divider
    .logos-section
      .img-wrapper
        %img{"src" => "images/ruby-on-rails-logo.png"}
        %h6 Ruby on Rails
      .img-wrapper
        %img{"src" => "images/html5-logo.png"}
        %h6 HTML 5
      .img-wrapper
        %img{"src" => "images/css3-logo.png"}
        %h6 CSS 3
      .img-wrapper
        %img{"src" => "images/sass-logo.png"}
        %h6 Sass
      .img-wrapper
        %img{"src" => "images/javascript-logo.png"}
        %h6 JavaScript
      .img-wrapper
        %img{"src" => "images/jquery-logo.png"}
        %h6 jQuery
      .img-wrapper
        %img{"src" => "images/git-logo.png"}
        %h6 Git
      .img-wrapper
        %img{"src" => "images/postgresql-logo.png"}
        %h6 SQL
.row.section
  %h5.center Additional qualifications
  .divider
  .col.l4.s6
    .card-panel.teal
      .white-text
        Testing in RSpec
        %br/
        Twitter Bootstrap
        %br/
        Haml
  .col.l4.s6
    .card-panel.teal
      .white-text 
        Basics of Java, C/C++
        %br/
        UML, VBA
        %br/
        Linux, bash
  .col.l4.s12
    .card-panel.teal
      .white-text
        Languages: English (
        %strong B2
        ), German (
        %strong B1
        )
        %br/
        Driving license cat. B
.row.section
  %h5.center Work experience
  .divider
  .row.valign-wrapper
    .col.s10
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            07.2014 - 10.2014:
            %strong Raiffeisen Polbank
          .collapsible-body
            %p
              Trainee in the Department of Human Capital Management:
              %br
              creating databases in MS Excel,
              programming macros in VBA for MS Excel
        %li
          .collapsible-header
            04.2015 - present:
            %strong Weblify
          .collapsible-body
            %p Junior Ruby on Rails Developer
    .col.s2
      %i.valign.medium.material-icons work
.row.section
  %h5.center Education
  .divider
  .row.valign-wrapper
    .col.s10
      %p
        %strong 2010 - present:
        University of Cardinal Stefan Wyszyński in Warsaw,
        %strong psychology
        \- MA
      %p
        %strong 2012 - present:
        University of Cardinal Stefan Wyszyński in Warsaw,
        %strong IT
        \- Bachelor's degree
    .col.s2
      %i.valign.medium.material-icons library_books