

<div class="row section">
	<div class="col s6">
	  <h5>Programming skills</h5>
	  <div class="divider"></div>
	  <p><strong>Ruby on Rails</strong></p>
	  <p>HTML5, CSS3, SASS, HAML</p>
	  <p>Javascript, jQuery</p>
	  <p>Git</p>
	  <p>Basics of Java, C/C++, UML, SQL, VBA</p>
	  <p>knowledge of Linux, bash</p>
	</div>

	<div class="col s6 section">
	  <h5>Additional qualifications</h5>
	  <div class="divider"></div>
	  <p>Testing in RSpec</p>
	  <p>Languages: Polish(national), English: <strong>B2</strong>, German: <strong>B1</strong></p>
	  <p>Driving license cat. B</p>
	</div>
</div>


<div class="row section">
  <h5>Education</h5>
  <div class="divider"></div>
  <div class="row valign-wrapper">
  	<div class= "col l10">
	  <p>2010 - present: University of Cardinal Stefan Wyszyński in Warsaw,
	  	<strong>psychology</strong> - MA</p>
	  <p>2012 - present: University of Cardinal Stefan Wyszyński in Warsaw,
	  	<strong>IT</strong> - Bachelor's degree</p>
	  </div>
	  <div class="col l2">
	  	<i class="valign medium material-icons">library_books</i>
	  </div>
  </div>
</div>

<div class="row section">
  <h5>Work experience</h5>
  <div class="divider"></div>
  <div class="row valign-wrapper">
	  <div class="col l10">
	  <p>07.2014 - 10.2014: <strong>Raiffeisen Polbank</strong><br>
	  	Trainee in the Department of Human Capital Management</p>
	  <p>04.2015 - present: <strong>Weblify</strong><br>
	  	Junior Ruby on Rails developer</p>
	  </div>
	  <div class="col l2">
	  	<i class="valign medium material-icons">work</i>
	  </div>
	</div>
</div>