.row.section
  .col.s12
    %h5.center Programming skills
    .divider
    .logos-section
      .img-wrapper
        %img{"src" => "images/ruby-on-rails-logo.png"}
        %h6 Ruby on Rails
      .img-wrapper
        %img{"src" => "images/html5-logo.png"}
        %h6 HTML 5
      .img-wrapper
        %img{"src" => "images/css3-logo.png"}
        %h6 CSS 3
      .img-wrapper
        %img{"src" => "images/sass-logo.png"}
        %h6 Sass
      .img-wrapper
        %img{"src" => "images/javascript-logo.png"}
        %h6 JavaScript
      .img-wrapper
        %img{"src" => "images/jquery-logo.png"}
        %h6 jQuery
      .img-wrapper
        %img{"src" => "images/git-logo.png"}
        %h6 Git
      .img-wrapper
        %img{"src" => "images/postgresql-logo.png"}
        %h6 SQL
.row.section
  %h5.center Additional qualifications
  .divider
  .col.l4.s6
    .card-panel.main-color
      .white-text
        Testing in RSpec
        %br/
        Twitter Bootstrap
        %br/
        Haml
  .col.l4.s6
    .card-panel.main-color
      .white-text
        Basics of Java, C/C++
        %br/
        UML, VBA, R
        %br/
        Linux, bash
  .col.l4.s12
    .card-panel.main-color
      .white-text
        Agile, Scrum experience
        %br/
        Languages: English -
        %strong B2
        , German -
        %strong B1
        %br/
        Driving license cat. B
.row.section
  %h5.center Work experience
  .divider
  .row.valign-wrapper
    .col.s10
      %ul.collapsible{"data-collapsible" => "accordion"}
        %li
          .collapsible-header
            07.2014 - 10.2014:
            %strong Raiffeisen Polbank
          .collapsible-body
            %p
              Trainee in the Department of Human Capital Management:
              %br
              developing databases in MS Excel,
              %br
              creating macros in VBA for MS Excel
        %li
          .collapsible-header
            04.2015 - present:
            %strong Weblify
          .collapsible-body
            %p
              Ruby on Rails Developer:
              %br
              web development in Ruby on Rails,
              %br
              testing, developing and maintaining production application
    .col.s2
      %i.valign.medium.material-icons work
.row.section
  %h5.center Education
  .divider
  .row.valign-wrapper
    .col.s10
      %p
        = succeed "," do
          %strong 2010 - 2015: MA in psychology
        %span University of Cardinal Stefan Wyszyński in Warsaw,
      %p
        %strong 2012 - 2016:
        University of Cardinal Stefan Wyszyński in Warsaw,
        %strong IT
        \- Bachelor's degree
    .col.s2
      %i.valign.medium.material-icons library_books