%footer.page-footer.main-color.darken-2
  .container
    .row
      .col.l6.s6
        %h5.white-text
          Contact me
        %p.grey-text.text-lighten-4= "{{ site.email }}"
      .col.l3.offset-l3.s6
        %h5.white-text
          Check my profile
        %ul
          %li
            %a.grey-text.text-lighten-3.valign-wrapper.logo-link{"href" => "https://github.com/{{ site.github_username }}"}
              %img{"src" => "/images/github-logo.png", "width" => "20px", "height" => "20px"}
              .valign
                Github
          %li
            %a.grey-text.text-lighten-3.valign-wrapper.logo-link{"href" => "https://{{ site.linked_in_link }}"}
              %img{"src" => "/images/linked_in.png", "width" => "20px", "height" => "20px"}
              .valign
                Linked In
          %li
            %a.grey-text.text-lighten-3.valign-wrapper.logo-link{"href" => "https://{{ site.golden_line_link }}"}
              %img{"src" => "/images/golden_line.png", "width" => "20px", "height" => "20px"}
              .valign
                Golden Line
    .row
      %p.grey-text.center-align.text-lighten-4
        © 2017 Copyright by
        = "{{ site.username }}"