
%nav
  .nav-wrapper.main-color.lighten-1
    .brand-logo.center.tooltipped{"data-position" => "right", "data-delay" => "50", "data-tooltip" => "Enjoy reading my CV!"}
      Maikhel
    %ul#nav-mobile.left.hide-on-med-and-down