.logo-link
  padding-top: 10px
  img
    margin: 0 5px
  &:hover
    .valign
      color: #0f433d
    text-decoration: none

.img-wrapper
  position: relative
  text-align: center
  margin: 20px
  display: inline-block
  h6
    font-weight: 600
    margin-top: 10px
  img
    max-width: 100px
    max-height: 100px
    display: block
    margin: 0 auto