<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="mh7-xl bg-near-white dark--bg-dark-gray dark--light-gray baskerville">
    <div class="cf pa3 pa4-ns">
      <div class="fl w-100 w-20-l w-20-xl pa3-l pa3-xl mb3 tc tl-ns">
        {% include sidebar.html %}
      </div>
      <div class="fl w-100 w-80-l w-80-xl pa3-l pa3-xl">
        <div class="w-100 f4">
          <h1 class="mb3 mt0 lh-title tc fw1">{{ page.title }}</h1>
          <div class="markdown">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
