<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <nav>
      <div class="nav-wrapper main-color lighten1">
        <div class="brand-logo center"> Whooops!
        </div>
      </div>
    </nav>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
  </body>

</html>